/* fonts  */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@400;500&family=Work+Sans:wght@400;500;600;700&display=swap');
/* common styles and utilities */
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Work Sans', sans-serif;
}
:root{
    --primary-color: #131313;
    --secondary-color: #FF900E;
    --des-color: #727272;
}
/* header styles */
.header{
    background-color: #FFF4E7;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.menu, .banner{
    width: 1440px;
}
.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 0;
}
.logo h1 a{
    color: var(--primary-color);
    font-weight: 700;
    font-size: 45px;
    text-decoration: none;
}
.nav ul{
    list-style: none;
}
.nav ul li{
    display: inline-block;
    margin-left: 50px;
}
.nav ul li a{
    text-decoration: none;
    color: #424242;
    font-size: 18px;
    font-weight: 500;
    transition: 0.3s;
}
.nav ul li a:hover{
    color: var(--secondary-color);
}
.nav ul li a.active{
    color: var(--secondary-color);
}
.banner{
    text-align: center;
}
.banner-title{
    font-weight: 700;
    font-size: 64px;
    line-height: 76px;
    color: var(--primary-color);
    margin: 30px 0;
}
.banner-description{
    font-weight: 400;
    color: var(--des-color);
    font-size: 16px;
    line-height: 26px;
    width: 864px;
    margin: 0 auto;
    margin-bottom: 33px;
}
.btn{
    background-color: var(--secondary-color);
    color: #fff;
    font-weight: 600;
    font-size: 20px;
    padding: 21px 25px;
    border: 0;
    border-radius: 8px;
    margin-bottom: 50px;
}
.banner img{
    margin-bottom: 45px;
    width: 100%;
}
/* Feature section styles  */
main{
    display: flex;
    padding: 50px 20px;
    flex-direction: column;
    align-items: center;
}
.feature{
    display: flex;
    width: 1350px;
    align-items: center;
    gap: 70px;
}
.gallery{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}
.feature-title{
    font-weight: 700;
    color: var(--primary-color);
    font-size: 45px;
    line-height: 53px;
    margin-bottom: 24px;
}
.feature-title span:first-child{
    color: var(--des-color);
    font-weight: 500;
}
.feature-title span:last-child{
    color: var(--secondary-color);
}
.feture-description{
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: var(--des-color);
    margin-bottom: 32px;
}
/* service section styles  */
.service{
    display: flex;
    width: 1440px;
    justify-content: space-between;
    margin: 130px 0;
    align-items: center;
}
.service-info{
    width: 600px;
}

.service-banner img{
    width: 100%;
}
.service-info h2{
    padding-left: 21px;
    font-weight: 700;
    font-size: 45px;
    line-height: 53px;
    border-left: 5px solid var(--secondary-color);
    margin-bottom: 24px;
}
.service-info p{
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: var(--des-color);
    margin-bottom: 70px;
}
.services{
    padding-left: 30px;
}
.services h4{
    margin-bottom: 15px;
    color: var(--primary-color);
    font-weight: 600;
    font-size: 20px;
}
.service-banner{
    width: 800px;
    position: relative;
}
.service-box{
    display: inline-block;
    text-align: center;
    color: #fff;
    background-color: var(--secondary-color);
    border-radius: 8px;
    padding: 42px 45px;
    position: absolute;
    left: -85px;
    bottom: -75px;
}
.service-box h2{
    font-size: 65px;
    font-weight: 700;
}
.service-box p{
    font-size: 25px;
    font-weight: 500;
}
/* Facts section start  */
.facts{
    width: 1440px;
    margin: 50px 0;
}
.section-title{
    color: var(--primary-color);
    font-weight: 700;
    font-size: 45px;
    margin-bottom: 24px;
}
.facts > p{
    width: 542px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: var(--des-color);
    margin-bottom: 100px;
}
.anim-box{
    display: flex;
    justify-content: space-around;
    text-align: center;
}
.fact-box{
    border: 1px solid var(--secondary-color);
    border-radius: 8px;
    padding: 60px 45px;
}
.fact-box h4{
    font-weight: 600;
    font-size: 45px;
    color: #424242;
    margin-bottom: 5px;
}
.fact-box p{
    font-weight: 600;
    font-size: 20px;
    color: var(--des-color);
}
/* Sponsors section styles */
.sponsors{
    text-align: center;
    padding-bottom: 70px;
    padding-top: 50px;
}
.sponsors p{
    width: 540px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: var(--des-color);
    margin: 0 auto;
}
.sponsor-logos{
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    width: 1440px;
}
/* Footer section styles */
.footer-container{
    width: 1440px;
    margin: 0 auto;
    background-color: #FFF4E7;
    text-align: center;
}
.footer-container p{
    padding: 40px 20px;
    font-weight: 400;
    font-size: 20px;
    color: #424242;
}
